
.parallax__group {
  position: relative;
}

.parallax__layer__title {
  font-size: 4em;
  text-align: center;
}

.parallax__layer--background {
  position: absolute;
  width: 100%;
  height: 540px;
}

.parallax__layer--foreground {
  position: absolute;
  top: 540px;
  width: 100%;
}


@include media(">=desktop") {

  .parallax {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__group {
    transform-style: preserve-3d;
  }
  .parallax__layer--background {
    transform: translateZ(-1px) scale(2);
    top: calc(270px - 50vh);
  }
}
