
// Include base styling
@import "_include-media.scss";
@import "_normalize.scss";
@import "_breakpoints.scss";
@import "_parallax.scss";

// Fonts
$main_font: 'Playfair Display', serif;
$caption_font: 'Raleway', sans-serif;

// Colors
$default_font_color: #33384c;
$light_background: #f2f2f2;
$colorful-background: #7FDBFF;
$colorful_text_color: #001F3F;

// Base styles
body {
  font-family: $main_font;
  font-size: 100%;
  color: $default_font_color;
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid lighten($default_font_color, 10%);
  padding-bottom: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  background: $light_background;
}

.section {
  margin: 0 auto;
  width: 90%;
  max-width: 640px;

  .section__title {
    text-align: center;
    font-size: 0.7em;
    margin: 3em 0;
    text-transform: uppercase;
    font-family: $caption_font;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .section__headline {
    font-weight: normal;
    text-align: center;
  }
}

.work {
  padding: 4em 0;
  background: #fff;

  .work__projects {
    display: flex;
    flex-direction: column;
  }
  .work__project {
    text-align: center;
    border: none;
    font-size: 2.2em;
    padding: 0.3em 0;

    .work__project__number {
      font-family: $caption_font;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 0.4em;
      margin-right: -0.5em;
    }
  }
}
.contact {
  padding: 5em 0;
  color: $colorful_text_color;
  background: $colorful-background;
}

.footer {
  padding: 3em 0;

  .contact__list {
    list-style: none;

    .contact__list__item {
      line-height: 1.8;
    }

    .contact__list__link {
      border: none;
    }
  }
}

@include media(">=desktop") {
  .section__headline {
    font-size: 40px;
  }
  .work__project {
    font-size: 60px !important;
  }
}
