
// Include base styling
@import "_normalize.scss";
@import "_parallax.scss";

// Fonts
$headline_font: 'Playfair Display', serif;
$body_font: 'Karla', sans-serif;

// Colors
$headline_color: #484848;
$default_font_color: #b5b5b0;

// Base styles
body {
  font-family: $body_font;
  font-size: 100%;
  color: $default_font_color;
  line-height: 1.5;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: lighten($default_font_color, 10%);
  border-bottom: 1px solid lighten($default_font_color, 10%);
  padding-bottom: 5px;
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
}
