
// Include base styling
@import "_normalize.scss";
@import "_base.scss";

/* Projects page specific styles */
.proiject_show_case {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.projects__showcase {
  margin: 2em 0;
  padding: 4em;
  display: block;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.projects__lithekod {
  background: #2c7d9b;
  background: lighten(#1ec6ba, 30%);
}

.projects__gamejam {
  background: lighten(#efe23e, 30%);
}
